body {
    background-color: #fafafa;
}

.song-data {
    font-size: 28pt;
}

.author-data {
    font-size: 16pt;
    margin: 0.5%;
}

.album-data {
    font-size: 18pt;
    margin: 0.5%;
}

.controllers-button {
    margin: 3% 3% 5%;
}

.center-vertical {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#radio-player {
    display: none;
}


.volume-bar {
    width: 95%;
    margin: 0 auto;
    cursor: pointer;
}

.controller-button{
    cursor: pointer;
}